# ROS workspace artifacts
/**/build/
/**/install/
/**/log/

# PlatformIO
**/.pio/

# Clangd cache
**/.cache
**/compile_commands.json

# Python caches
**/__pycache__/
*.py[cod]

# VS Code, PyCharm
.vscode/
.idea/

# Personal Data
secrets.h
